body {
  background-color:lightblue;
}
h1{
	text-align:center;
	color:red;
}
header
{
	text-align:left;
color:green;
font-size:18px}

footer
{
	text-align:center;
	font-size:30 px;
	color:yellow;

}